* {
    font-family: sans-serif;
    font-weight: normal;
    font-size: small;
    border: 1px solid rgb(251, 251, 251);
    margin: 0;
}

.grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: .5fr 1fr 2fr 0.5fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.name {
    grid-column: 2 / 7;
    grid-row: 1;
    height: 100px;
    display: flex;
    align-items: center;
}

h1{
    font-size: 50px;
}

h2 {
    font-size: xx-large;
}

h1.main {
    font-weight: bold;
    transition: 1s;
}

h1.main:hover {
    font-size: 60px;
}

.nav {
    grid-column: 7 / 12;
    grid-row: 1;
    height: 100px;
    display: inline-flex;
    justify-content: flex-end;
    align-items: right;
}

.nav h3 {
    display: flex;
    align-items: center;
}

.nav a {
    text-decoration: none;
    color:rgb(100, 100, 100);
    font-size: 16px;
    font-weight: bold;
    transition: 0.3s;
    margin: 40px;

}

.nav a:hover, a.active {
    color: black;
}

.nav a:hover {
    align-items: center;
    font-size: 18px;
    margin: 37px;
}

.intro {
    grid-column: 2 / 12;
    grid-row: 2;
}

#portrait {
    display:block;
    float: right;
    margin: 200px 15% 0 0;
    width: 300px; 
    border-radius: 50%;  
}

